#top {
	background: #5bc0de;
	text-align: center;

}

#top h1 {
	text-align: center;
}

button {
	width: 200px;
}

#update {
	color: green;
	font: bold;
}

#feed {
	float: left;
}

.following {
	float: right;
}

#timestamp {
	font: italic;
}

#user-feeds {
}