#title {
	background: linear-gradient(to bottom, #1e689a 0%,#2aa1d8 0%,#2091ca 100%,#7ec8e8 100%);

}
button {
	color: green;
	font: bold;
}

#feed {
	float: left;
}

.following {
	float: right;
}

#confirmation {
	display:none;
}